body {
  background: #333333; }
  body #fig2 {
    animation: sk-rotate 2.6s infinite ease-in-out; }
  body .sk-cube-grid {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 60px; }
    body .sk-cube-grid .sk-cube {
      width: 33%;
      height: 33%;
      float: left;
      background-color: #fff; }
    body .sk-cube-grid .sk-1cube1 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    body .sk-cube-grid .sk-2cube1 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    body .sk-cube-grid .sk-1cube2 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    body .sk-cube-grid .sk-2cube2 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    body .sk-cube-grid .sk-1cube3 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    body .sk-cube-grid .sk-2cube3 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    body .sk-cube-grid .sk-1cube4 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    body .sk-cube-grid .sk-2cube4 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    body .sk-cube-grid .sk-1cube5 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    body .sk-cube-grid .sk-2cube5 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    body .sk-cube-grid .sk-1cube6 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    body .sk-cube-grid .sk-2cube6 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    body .sk-cube-grid .sk-1cube7 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s; }
    body .sk-cube-grid .sk-2cube7 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s; }
    body .sk-cube-grid .sk-1cube8 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    body .sk-cube-grid .sk-2cube8 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    body .sk-cube-grid .sk-1cube9 {
      animation: sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }
    body .sk-cube-grid .sk-2cube9 {
      -o-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      animation: sk-rotate 1.3s infinite ease-in-out, sk-cubeGridScaledDelay 1.3s infinite ease-in-out;
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }
@keyframes sk-cubeGridScaledDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3d(0, 0, 1); } }
@keyframes sk-rotate {
  from {
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
