body{
  background: #333333;

  .sk-cube-grid{
    width: 100px;
    height: 100px;
    margin-left: 500px;
    margin-top: 400px;
    .sk-cube{
      width: 33%;
      height: 33%;
      float: left;
      background-color: #fff;
    }

    @mixin animationDelay($dTime) {
      -webkit-animation-delay: $dTime/10;
      animation-delay: $dTime/10;
    }

    @for $i from 1 through 9{
      .sk-cube-#{$i}{@include animationDelay($i);}
    }
  }

  @keyframes sk-cubeGridScaledDelay{
    0%, 70%, 100%{
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1,1,1);
    }
    35%{
      -webkit-transform: scale3D(0,0, 1);
      transform: scale3d(0,0,1);
    }
  }

}
